*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header{
  background-color: hsl(0, 0%, 10%);
  display: flex;
  color: aliceblue;
  padding: 6px 12px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.logo{
  font-size: 1.6rem;
  font-weight: 600;
}

.links ul{
  list-style: none;
  display: flex;
  gap:12px;
}

.links ul a{
  color: aliceblue;
  text-decoration: none;
}

.main-container{
  width: 100%;
  display: flex;
  flex-grow: 1;
}

.editor-title{
  text-align: center;
  font-size: 1.8rem;
}
.editor, .preview {
  flex: 1;
  padding: 20px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
}

.editor {
  height: calc(100vh - 42px);
  flex-grow: 1;
  border-right: 1px solid #ccc; 
}

.editor > input {
  width: 100%; 
  max-width: none;
  height: 60px;
  border-width: 0px 0px 2px 0px;
}

.preview {
  background-color: #f9f9f9;
}
